In [2]:
import pandas as pd

Write a solution to find the ids of products that are both low fat and recyclable.

Return the result table in any order.

In [3]:
data = [['0', 'Y', 'N'], ['1', 'Y', 'Y'], ['2', 'N', 'Y'], ['3', 'Y', 'Y'], ['4', 'N', 'N']]

products = pd.DataFrame(data, columns=['product_id', 'low_fats', 'recyclable']).astype({'product_id':'int64', 'low_fats':'category', 'recyclable':'category'})

In [4]:
data

[['0', 'Y', 'N'],
 ['1', 'Y', 'Y'],
 ['2', 'N', 'Y'],
 ['3', 'Y', 'Y'],
 ['4', 'N', 'N']]

In [5]:
products

   product_id low_fats recyclable
0           0        Y          N
1           1        Y          Y
2           2        N          Y
3           3        Y          Y
4           4        N          N

In [6]:
def find_products(products: pd.DataFrame) -> pd.DataFrame:
    
    result = products[(products['low_fats'] == 'Y') & (products['recyclable'] == 'Y')]

    return result[['product_id']]

In [7]:
find_products(products)

   product_id
1           1
3           3