In [2]:
import pandas as pd
import numpy as np

In [3]:
data = [[0, 0, 'start', 0.712], [0, 0, 'end', 1.52], [0, 1, 'start', 3.14], [0, 1, 'end', 4.12], [1, 0, 'start', 0.55], [1, 0, 'end', 1.55], [1, 1, 'start', 0.43], [1, 1, 'end', 1.42], [2, 0, 'start', 4.1], [2, 0, 'end', 4.512], [2, 1, 'start', 2.5], [2, 1, 'end', 5]]

activity = pd.DataFrame(data, columns=['machine_id', 'process_id', 'activity_type', 'timestamp']).astype({'machine_id':'Int64', 'process_id':'Int64', 'activity_type':'object', 'timestamp':'Float64'})

In [4]:
data

[[0, 0, 'start', 0.712],
 [0, 0, 'end', 1.52],
 [0, 1, 'start', 3.14],
 [0, 1, 'end', 4.12],
 [1, 0, 'start', 0.55],
 [1, 0, 'end', 1.55],
 [1, 1, 'start', 0.43],
 [1, 1, 'end', 1.42],
 [2, 0, 'start', 4.1],
 [2, 0, 'end', 4.512],
 [2, 1, 'start', 2.5],
 [2, 1, 'end', 5]]

In [5]:
activity

    machine_id  process_id activity_type  timestamp
0            0           0         start      0.712
1            0           0           end       1.52
2            0           1         start       3.14
3            0           1           end       4.12
4            1           0         start       0.55
5            1           0           end       1.55
6            1           1         start       0.43
7            1           1           end       1.42
8            2           0         start        4.1
9            2           0           end      4.512
10           2           1         start        2.5
11           2           1           end        5.0

There is a factory website that has several machines each running the same number of processes. 

Write a solution to find the average time each machine takes to complete a process.

The time to complete a process is the 'end' timestamp minus the 'start' timestamp.

The average time is calculated by the total time to complete every process on the machine divided by the number of processes that were run.

The resulting table should have the machine_id along with the average time as processing_time, which should be rounded to 3 decimal places.

Return the result table in any order.

In [6]:
def get_average_time(activity: pd.DataFrame) -> pd.DataFrame:
    
    activity['machine_id'] = activity['machine_id'].astype(str)
    activity['process_id'] = activity['process_id'].astype(str)
    activity['id'] = activity['machine_id'] + activity['process_id']

    start = activity[activity['activity_type'] == 'start']
    start.rename(columns = {'timestamp' : 'start_time'}, inplace = True)

    end = activity[activity['activity_type'] == 'end']
    end.rename(columns = {'timestamp' : 'end_time'}, inplace = True)

    end = end[['end_time', 'id']]

    process = start.merge(end, on = 'id')
    process['machine_id'] = process['machine_id'].astype('int64')
    process['processing_time'] = process['end_time'] - process['start_time']

    return round(process.groupby('machine_id')[['processing_time']].mean(), 3).reset_index()

In [7]:
get_average_time(activity)

C:\Users\Dell\anaconda3\lib\site-packages\pandas\core\frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

   machine_id  processing_time
0           0            0.894
1           1            0.995
2           2            1.456