In [1]:
import pandas as pd

Find the names of the customer that are not referred by the customer with id = 2.

Return the result table in any order.

In [2]:
data = [[1, 'Will', None], [2, 'Jane', None], [3, 'Alex', 2], [4, 'Bill', None], [5, 'Zack', 1], [6, 'Mark', 2]]

customer = pd.DataFrame(data, columns=['id', 'name', 'referee_id']).astype({'id':'Int64', 'name':'object', 'referee_id':'Int64'})

In [3]:
data

[[1, 'Will', None],
 [2, 'Jane', None],
 [3, 'Alex', 2],
 [4, 'Bill', None],
 [5, 'Zack', 1],
 [6, 'Mark', 2]]

In [4]:
customer

   id  name  referee_id
0   1  Will        <NA>
1   2  Jane        <NA>
2   3  Alex           2
3   4  Bill        <NA>
4   5  Zack           1
5   6  Mark           2

In [5]:
def find_customer_referee(customer: pd.DataFrame) -> pd.DataFrame:
    customer = customer.fillna(0)
    result = customer[customer['referee_id'] != 2]
    return result[['name']]

In [6]:
find_customer_referee(customer)

   name
0  Will
1  Jane
3  Bill
4  Zack