In [1]:
import pandas as pd

Write a solution to find the IDs of the invalid tweets. 

The tweet is invalid if the number of characters used in the content of the tweet is strictly greater than 15.

Return the result table in any order.

In [2]:
data = [[1, 'Vote for Biden'], [2, 'Let us make America great again!']]

tweets = pd.DataFrame(data, columns=['tweet_id', 'content']).astype({'tweet_id':'Int64', 'content':'object'})

In [3]:
data

[[1, 'Vote for Biden'], [2, 'Let us make America great again!']]

In [4]:
tweets

   tweet_id                           content
0         1                    Vote for Biden
1         2  Let us make America great again!

In [5]:
def invalid_tweets(tweets: pd.DataFrame) -> pd.DataFrame:
    tweets['content_len'] = tweets['content'].str.len()
    result = tweets[tweets['content_len'] > 15]
    return result[['tweet_id']]

In [6]:
invalid_tweets(tweets)

   tweet_id
1         2