In [2]:
import pandas as pd
import numpy as np

In [3]:
data = [[1, 23], [2, 9], [4, 30], [5, 54], [6, 96], [7, 54], [8, 54]]

visits = pd.DataFrame(data, columns=['visit_id', 'customer_id']).astype({'visit_id':'Int64', 'customer_id':'Int64'})

data = [[2, 5, 310], [3, 5, 300], [9, 5, 200], [12, 1, 910], [13, 2, 970]]
transactions = pd.DataFrame(data, columns=['transaction_id', 'visit_id', 'amount']).astype({'transaction_id':'Int64', 'visit_id':'Int64', 'amount':'Int64'})

In [4]:
visits

   visit_id  customer_id
0         1           23
1         2            9
2         4           30
3         5           54
4         6           96
5         7           54
6         8           54

In [5]:
transactions

   transaction_id  visit_id  amount
0               2         5     310
1               3         5     300
2               9         5     200
3              12         1     910
4              13         2     970

Write a solution to find the IDs of the users who visited without making any transactions and the number of times they made these types of visits.

Return the result table sorted in any order.

In [7]:
def find_customers(visits: pd.DataFrame, transactions: pd.DataFrame) -> pd.DataFrame:
    uncommon_ids = np.setdiff1d(visits['visit_id'], transactions['visit_id'])
    result = visits[visits['visit_id'].isin(uncommon_ids)]
    result = result.groupby('customer_id').count().sort_values('visit_id', ascending = False).reset_index()
    result.rename(columns = {'visit_id' : 'count_no_trans'}, inplace = True)
    return result

In [8]:
find_customers(visits, transactions)

   customer_id  count_no_trans
0           54               2
1           30               1
2           96               1