In [5]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
data = [[1, '2000-12-16', 3], [2, '2000-12-15 ', -1]]

weather = pd.DataFrame(data, columns=['id', 'recordDate', 'temperature']).astype({'id':'Int64', 'recordDate':'datetime64[ns]', 'temperature':'Int64'})

In [3]:
weather

   id recordDate  temperature
0   1 2000-12-16            3
1   2 2000-12-15           -1

Write a solution to find all dates' Id with higher temperatures compared to its previous dates (yesterday).

Return the result table in any order.

In [6]:
def rising_temperature(weather: pd.DataFrame) -> pd.DataFrame:
    weather['recordDate'] = pd.to_datetime(weather['recordDate'])
    weather.sort_values('recordDate', inplace = True)
    weather.reset_index(inplace= True)
    temp = weather['temperature'][1:]
    temp = temp.reset_index()
    temp2 = weather['recordDate'][1:]
    temp2 = temp2.reset_index()
    temp3 = weather['id'][1:]
    temp3 = temp3.reset_index()
    weather['Id'] = temp3['id']
    weather['next_day_temp'] = temp['temperature']
    weather['next_date'] = temp2['recordDate']
    weather['next_day_temp'].fillna(0, inplace= True)
    weather['Id'] = weather['Id'].fillna(0)
    weather['greater'] = weather['next_day_temp'] > weather['temperature']
    weather['next_date'].fillna(weather['recordDate'] + pd.Timedelta(days=1), inplace = True)
    weather['no_of_days'] = (weather['next_date'] - weather['recordDate']).dt.days
    result = weather[(weather['greater'] == True) & (weather['no_of_days'] == 1) & (weather['Id'] > 0)]['Id']
    result = result.reset_index()
    return result[['Id']]

In [7]:
rising_temperature(weather)

   Id
0   1

In [8]:
def rising_temperature(weather: pd.DataFrame) -> pd.DataFrame:
    weather.sort_values(by='recordDate', inplace=True)
    return weather[
        (weather.temperature.diff() > 0)
      & (weather.recordDate.diff().dt.days == 1)
    ][['id']]

In [9]:
rising_temperature(weather)

   id
1   1